body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f7f7f7;
}

.form-registration,
.form-login {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-registration {
    display: none;
}

.error{
    border: 1px solid red !important;
}

.form-login {
    display: block;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.form-header h2 {
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

.form-group input {
    width: -webkit-fill-available;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group button {
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.form-footer {
    text-align: center;
}

.form-footer p {
    font-size: 14px;
    color: #666;
}

.form-footer a {
    color: #4CAF50;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}